<ion-header>
    <ion-navbar>
        <ion-title>
            Eliminar Post
        </ion-title>
    </ion-navbar>
    </ion-header>
    
    <ion-content padding>
      <ion-list>
          <ion-item>
            <ion-label stacked>Id Usuario: {{ post.userId }}
            </ion-label>
          </ion-item>
        
          <ion-item>
            <ion-label stacked> Titulo </ion-label>
          </ion-item>
          <ion-row>
            <ion-col width-20>
              <p> {{ post.title }}</p>
            </ion-col>
          </ion-row>
          
          <ion-item>
            <ion-label stacked>Mensaje</ion-label>            
          </ion-item>
          <ion-row>
            <ion-col width-20>
              <p> {{ post.body }}</p>
            </ion-col>
          </ion-row>
          <br><br>
          <button ion-button ion-button color="light" (click)="irAtras()" >
            <ion-icon name="">Cancelar</ion-icon>
          </button>
          <!-- <button (click) = "irAtras()" ion-button color="light"  ion-button> Atras</button> -->
          <button (click) = "eliminarPost(post.id)" ion-button> Confirmar</button>
      </ion-list>
    </ion-content>
          